## Data Preprossessing with Pandas and ScikitLearn

In [2]:
import pandas as pd

In [11]:
df = pd.read_csv("student_scores copy.csv")
print(df.head())

     name  hours  score gender grades class
0   Aarav      8     76      M      A    9A
1    Riya      5     62      F      B    9B
2   Kabir     10     88      M      A   10A
3    Sana      4     55      F      C    9A
4  Vivaan      7     72      M      B   10B

In [ ]:
print('Columns: ', df.columns.tolist()) #displays the column headings.
print()
print("Info: \n")
print(df.info()) #displays the information about the dataset like the datatype, null numbers in a column.
print()
print("Describe: \n", df.describe()) #to check the spread the of the data.

Columns:  ['name', 'hours', 'score', 'gender', 'grades', 'class']

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    92 non-null     object
 1   hours   92 non-null     int64
 2   score   92 non-null     int64
 3   gender  92 non-null     object
 4   grades  92 non-null     object
 5   class   92 non-null     object
dtypes: int64(2), object(4)
memory usage: 4.4+ KB
None

Describe:
            hours      score
count  92.000000  92.000000
mean    6.510870  68.836957
std     2.265336  15.692286
min     2.000000  35.000000
25%     5.000000  57.000000
50%     7.000000  70.000000
75%     8.000000  82.000000
max    11.000000  94.000000

## Handling missing values

In [25]:
#to count the null values.
print(df.isnull().sum()) 

#fill the data with the mean value.
df["score"] = df["score"].fillna(df['score'].mean()) 

#drop the null columns.
data = df.dropna()

name      0
hours     0
score     0
gender    0
grades    0
class     0
dtype: int64